In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [5]:
driver = webdriver.Chrome(r"C:\chromedriver.exe")
driver.get('https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6')
job_names=[]
company=[]
location=[]
experience=[]
salary=[]
for i in list(driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"))[:10]:
    job_names.append(i.text)
for i in list(driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']"))[:10]:  
    company.append(i.text)
for i in list(driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']"))[:10]:
    location.append(i.text)
for i in list(driver.find_elements_by_xpath("//span[@class='ellipsis fleft fs12 lh16']"))[:30]:
    experience.append(i.text)
job_df=pd.DataFrame({'Job_Names':job_names,
                         'Company':company,
                         'location':location,
                         'Experience':experience[0::3],
                         'Salary':experience[1::3]})
job_df.to_csv('Data Scientist Naukri.com with Filters', index = False)
print(job_df)

                                           Job_Names  \
0  Fresher Data Engineer / Data Scientist / Data ...
1           Data Scientist - Python/Machine Learning
2                                     Data Scientist
3  Only Fresher / Data Scientist / Data Analyst /...
4                                     Data Scientist
5                                Lead Data Scientist
6  Excellent opportunity For Lead Data Scientist ...
7                                Lead Data Scientist
8  Excellent opportunity For Lead Data Scientist ...
9                                     Data Scientist

                             Company                            location  \
0      ACHYUTAS SOFT PRIVATE LIMITED     Delhi NCR, Bengaluru, Hyderabad
1                              Jubna                               Noida
2              PureSoftware Pvt Ltd.                             Gurgaon
3          GABA Consultancy services     Delhi NCR, Greater Noida, Noida
4             Air Asia India Limited                  Delhi NCR, Gurgaon
5  NEC CORPORATION INDIA PRIVATE LTD  Delhi NCR, Noida(Sector-142 Noida)
6  NEC CORPORATION INDIA PRIVATE LTD  Delhi NCR(Sector-142 Noida), Noida
7  NEC CORPORATION INDIA PRIVATE LTD  Delhi NCR, Noida(Sector-142 Noida)
8  NEC CORPORATION INDIA PRIVATE LTD  Delhi NCR(Sector-142 Noida), Noida
9                   Stark Industries                               Delhi

  Experience                   Salary
0    0-2 Yrs  3,50,000 - 8,50,000 PA.
1    5-8 Yrs            Not disclosed
2    5-9 Yrs            Not disclosed
3    0-0 Yrs  2,25,000 - 4,75,000 PA.
4    1-4 Yrs            Not disclosed
5   9-14 Yrs            Not disclosed
6   9-14 Yrs            Not disclosed
7   9-14 Yrs            Not disclosed
8   9-14 Yrs            Not disclosed
9    3-5 Yrs            Not disclosed

In [4]:
job_df

,Job_Names,Company,location,Experience,Salary
0,Fresher Data Engineer / Data Scientist / Data ...,ACHYUTAS SOFT PRIVATE LIMITED,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,"3,50,000 - 8,50,000 PA."
1,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs,Not disclosed
2,Data Scientist,PureSoftware Pvt Ltd.,Gurgaon,5-9 Yrs,Not disclosed
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Greater Noida, Noida",0-0 Yrs,"2,25,000 - 4,75,000 PA."
4,Data Scientist,Air Asia India Limited,"Delhi NCR, Gurgaon",1-4 Yrs,Not disclosed
5,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs,Not disclosed
6,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs,Not disclosed
7,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs,Not disclosed
8,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs,Not disclosed
9,Data Scientist,Stark Industries,Delhi,3-5 Yrs,Not disclosed